/* Reseteo básico para quitar márgenes y padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos generales del body */
body {
    font-family: 'Arial', sans-serif;
    background-color: #E2B4BD; /* Fondo general */
    color: #424B54; /* Color del texto principal */
    line-height: 1.6;
}

/* Estilos del header */
header {
    background-color: #424B54; /* Color del header */
    padding: 20px;
    text-align: center;
}

header nav ul {
    list-style: none;
}

header nav ul li {
    display: inline;
    margin: 0 15px;
}

header nav ul li a {
    color: #FFFFFF; /* Color de los enlaces del menú */
    text-decoration: none;
    font-weight: bold;
}

header nav ul li a:hover {
    color: #E2B4BD; /* Color de los enlaces al pasar el mouse */
}

/* Estilos del main */
main {
    padding: 40px 20px;
    max-width: 800px;
    margin: 0 auto;
}

main h1 {
    color: #9B6A6C; /* Color del título principal */
    margin-bottom: 20px;
    font-size: 2.5em;
}

main h1 strong {
    color: #424B54; /* Resaltado del título */
}

main p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

main .botones a {
    display: inline-block;
    background-color: #9B6A6C; /* Color de los botones */
    color: #FFFFFF;
    padding: 10px 20px;
    margin: 10px 5px;
    text-decoration: none;
    border-radius: 5px;
}

main .botones a:hover {
    background-color: #424B54; /* Color de los botones al pasar el mouse */
}

/* Estilo de la imagen */
main img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-top: 20px;
}

/* Estilos del footer */
footer {
    background-color: #424B54; /* Color del footer */
    color: #FFFFFF; /* Color del texto en el footer */
    text-align: center;
    padding: 10px;
    margin-top: 10px;
    font-size: 0.9em;
}

footer p {
    margin: 0;
}

footer a {
    color: #93A8AC; /* Color de los enlaces en el footer */
    text-decoration: none;
}

footer a:hover {
    color: #E2B4BD; /* Color de los enlaces en el footer al pasar el mouse */
}

.dark-theme {
    background-color: #333;
    color: #fff;
}

.theme-button {
    position: fixed;
    bottom: 10px;
    right: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.theme-button:hover {
    background-color: #0056b3;
}
